body, html 
{
  font:14px/1.5 Arial, Helvetica, sans-serif;
  font-family: Verdana;
  font-size: 12px;
  background: #000;
  margin: 0;
  padding: 0;
}

h2, h3, h4 {
	color: white;
}

.charttools {
	display: none;
	position: absolute;
	top: 0;
	left: 20px;
	z-index: 20;
	color: white;
}
  
  .charttools input {
	color:white;
	border: 1px solid rgba(0, 0, 0, 0.298039);
	border-radius: 5px;
	box-sizing: border-box;
	/* color: rgb(0, 0, 0); */
	margin: 1px;
	opacity: 0.7;
	outline: none;
	display: inline;
	background: transparent;
  }
  
  .charttools input.selected {
	opacity: 1;
	background: rgb(185, 205, 245);
  }

.content {
	position: relative;
	width: calc( 100% - 400px );
	/* display: inline; */
	float: left;
}
.sidebar {
	width: 400px;
	float: right;
}

/* Amchart CSS */
/* ////////////////////////////////////////////////// */
#chartdiv {
	margin-top: 20px;
  width: 100%;
  height: 600px;
  position: relative;
}
#chartdiv .amChartsPeriodSelector {
  padding-left: 35px;
}
.amChartsButtonSelected {
  font-weight: bold;
}
.amChartsButton {
  color: #fff;
  background: transparent;
  opacity: 0.7;
  border: 1px solid rgba(255,255,2555,.3);
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 1px;
  outline: none;
  box-sizing: border-box;
}
.amChartsInputField {
  color: #000;
} 
.amcharts-chart-div a {
  display:none !important;
}
/* ////////////////////////////////////////////////// */

.main-body {
	margin: 0 auto;
	max-width: 1400px;
}

.news-content {
	border-bottom: solid 1px #3a3c3e;
	padding: 10px 20px;
}

.news-content ul {
	max-height: 500px;
	overflow-y: scroll;
}

.news-body {
	padding: 25px 20px 20px;
	margin: 0 auto;
	max-width: 1400px;
	clear: both;
}

.news-content ul li {
	list-style: none;
	margin-bottom: 20px;
}

.news-content ul li a {
	text-decoration: none;
}

.news-content ul li .p-left {
	display: table-cell;
	vertical-align: top;
	padding-right: 10px;
}

.p-left img {
	width: 100px;
	height: auto;
}

.p-right {
	display: table-cell;
	width: 10000px;
	vertical-align: top;
	padding-left: 20px;
	cursor: pointer;
}

.p-right p {
	color: #0095c5;
    font-size: 18px;
    margin: 7px 0px 0px;
}

.p-right.active .summary-detail {
	display: block;
	opacity: 1;
	height: auto;
}

.summary-detail {
	display: none;
	opacity: 0;
	height: 0;
}
.summary-detail {
	transition: all 0.5s;
}
.p-right span {
	color: #6a6a6c;
}
.header-body{
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
	margin: 0 auto;
}

.header-body .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-body .header-limiter h1{
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-body .header-limiter h1 span {
	color: #5383d3;
}

/* The navigation links */

.header-body .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-body .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-body .header-limiter nav a{
	font-size: 14px;
	display: inline-block;
	padding: 0 5px;
	opacity: 0.9;
	text-decoration:none;
	line-height: 1;
}

.header-body .header-limiter nav a:hover {
	opacity: 1;
}

.header-body .header-limiter nav a.selected {
	color: #608bd2;
}

/* Login/Sign up buttons */

.header-body .header-limiter ul {
	font: 14px Arial, Helvetica, sans-serif;
	list-style: none;
	line-height: 1;
	float: right;
}

.header-body .header-limiter ul li {
	display: inline-block;
	margin-left: 15px;
	opacity:0.9;
}

.header-body .header-limiter ul li:hover{
	opacity: 1;
}

/* The sign up button */

.header-body .header-limiter ul li:last-child a {
	font-weight: bold;
	background-color: #3a3c3e;
	padding: 10px 15px;
	border-radius: 3px;
}

/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-body {
		padding: 25px;
		height: 85px;
	}

	.header-body .header-limiter h1 {
		float: none;
		margin: -8px 0 2px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-body .header-limiter nav {
		margin: 0;
		float: none;
	}

	.header-body .header-limiter nav li a {
		font-size: 13px;
	}

	.header-body .header-limiter ul {
		display: none;
	}
}

.header-limiter .header-user-menu{
	position: relative;
	float:right;
	background-color:#3a3c3e;
	/* width:75px; */
	height:40px;
  border-radius:2px;
  padding: 0px 40px 0px 20px;
  font-weight: bold;
}

.header-limiter .header-user-menu:before{
	content:'';
	width:0;
	height:0;
	top: 18px;
	right: 15px;
	position:absolute;
	border:5px solid transparent;
	border-top-color:#fff;
}

.header-limiter .tbl-stock-list {
	display: none;
	font:bold 13px Arial, Helvetica, sans-serif;
	background-color: inherit;
	list-style: none;
	position: absolute;
	text-align: center;
	/* width: 125px; */
	top: 35px;
	left: 0;
	padding: 8px 18px;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  	box-sizing: border-box;
	z-index: 100;
	border-collapse: collapse;
}

.tbl-stock-list.right-list {
	font:bold 13px Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	margin-left: 10px;
	color: #ccc;
}

table.right-list tr td {
	height: 30px;
}
table.right-list tbody tr {
	border-bottom: solid 1px #3a3c3e;
	margin: 15px 0px;
}
.tbl-stock-list thead th {
	text-align: center;
	color: gray;
	padding: 5px 8px;
}

.tbl-stock-list tbody tr:hover {
	cursor: pointer;
	background: gray;
}

/* .tbl-stock-list tbody tr:hover td {
	background: red;
} */

.tbl-stock-list tbody tr td {
	text-align: left;
	/* color: gray; */
	padding: 5px 8px;
}

.header-user-menu:active table,
.header-user-menu:hover table,
.header-user-menu.show table{
	display:block;
}

.header-user-menu ul li{
	padding:5px;
}

.header-user-menu ul li a:hover{
	opacity:0.9;
}

.header-user-menu ul li a.highlight{
	color:#e9ac09;
}

.header-user-menu img{
	border-radius:50%;
	position:absolute;
	top:6px;
	max-width: 28px;
	right:10px;
}

.dropbtn {
	position: relative;
    background-color: #3a3c3e;
    color: white;
    padding: 10px 40px 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
	right: 0;
	top: 25px;
    background-color: #3a3c3e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropbtn:after {
	content: '';
    width: 0;
    height: 0;
    top: 18px;
    right: 15px;
    position: absolute;
    border: 5px solid transparent;
    border-top-color: #fff;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: gray;}
.dropdown:hover .dropdown-content {display: block;}
/* .dropdown:hover .dropbtn {background-color: transparent;} */



@media (max-width: 1295px) {
	header, .main-body, .news-body {
		max-width: 960px;
	}
}

@media (max-width: 1400px) {
	header, .main-body, .news-body {
		max-width: 1200px;
	}
}